<%= form_for(@sponsored_post) do |f| %>
  <% if @sponsored_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsored_post.errors.count, "error") %> prohibited this sponsored_post from being saved:</h2>

      <ul>
      <% @sponsored_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
